{% load static %}
{% load widget_tweaks %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">

    </head>

    <div class="min-h-screen border-gray-950 flex bg-indigo-200 justify-center items-center mx-auto">
        <div class="flex-col justify-center items-center mx-auto">
            <h1 class="text-5xl m-b5"> Welcome! </h1>
            <h3><a href="../register">Don't have an Account? Click Here</a></h3>
            <form method="POST" autocomplete="off">
                    {% csrf_token %}
                <h2 class="text-2xl flex mt-5">Username</h2>
                    {{loginform.username|attr:"class:p-2 flex min-w-80 h-10 bg-indigo-300 rounded-md" }}
                
                <h2 class="text-2xl flex mt-5">Password</h2>
                    {{loginform.password|attr:"class:p-2 flex min-w-80 h-10 bg-indigo-300 rounded-md" }}
                    
                <button class="w-40 my-5 h-10 mx-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit" value="Register">Login</button>
            </form>
        </div>
    </div>
</html>